<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>プロダクト</h2>

      <h4>プロダクト検索</h4>
      <%= form_with url: registered_projects_path, method: :get, local: true do |s| %>
        <%= s.label :name, 'プロダクト名' %>
        <%= s.text_field :search %>
        <%= s.submit '検索', name: nil %>
      <% end %>

      <br>

      <div class="row">
        <% @products.each do |product| %>
          <div class="col-lg-4 col-md-6 p-1"> 
            <div class="card rounded-pill shadow-sm" style="width: 99%;">
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <%= link_to t('views.button.show'), product, class: "card-link" %>
                <%= link_to t('views.button.edit'), edit_product_path(product), class: "card-link" %>
                <%= link_to t('views.button.destroy'), product, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <h2>カスタマー</h2>

      <h4>カスタマー検索</h4>
      <%= search_form_for @q, url: registered_projects_path do |f| %>
        <div class="row">
          <div class="col-md-5">
            <%= f.label :number_cont, 'カスタマーNo.' %>
            <%= f.search_field :number_cont %>
          </div>
          <div class="col-md-5">
            <%= f.label :name_cont, 'カスタマー名' %>
            <%= f.search_field :name_cont %>
          </div>
          <div class="col-md-2 d-flex align-items-end text-left">
            <%= f.submit '検索' %>
          </div>
            <%= sort_link(@q, :number, "Noソート") %>
        </div>
      <% end %>

      <div class="row">
        <% @customers.each do |customer| %>
          <div class="col-lg-4 col-md-6 p-1"> 
            <div class="card shadow-sm" style="width: 99%;">
              <div class="card-body">
                <h5 class="card-title"><%= customer.number %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= customer.name %></h6>
                <%= link_to t('views.button.show'), customer, class: "card-link" %>
                <%= link_to t('views.button.edit'), edit_customer_path(customer), class: "card-link" %>
                <%= link_to t('views.button.destroy'), customer, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
