<%= form_with(model: [customer, customer_document], local: true) do |form| %>

  <div class="set_center_outer">
    <div class="set_center_inner">
      <% if customer_document.errors.any? %>
        <div id="error_explanation">
          <h2><%= customer_document.errors.count %> 件のエラーが発生しました</h2>
          <ul>
          <% customer_document.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="set_center_outer">
    <div class="set_center_inner">
      <div class="field">
        <%= form.label t('views.title.document_name') %>
        <%= form.text_field :name, placeholder: '資料名' %>
      </div>

      <div class="field">
        <%= form.label t('views.title.content') %>
        <%= form.text_area :content, size: "50x5", placeholder: '資料概要を記入してください' %>
      </div>

      <div class="field">
        <%= form.label t('views.title.public_level') %>
        <%= form.radio_button :public_level, 0 %>一般 <%= form.radio_button :public_level, 1 %>技術
      </div>

      <div class="field">
        <%= form.label t('views.title.document') %>
        <%= form.file_field :document %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
