<div class="container">
  <h2 class="page_title_en">Customer Documents</h2>
  <h5 class="page_title_ja"><%= t('views.title.customer_documents') %></h5>

  <%= link_to new_customer_customer_document_path do %>
  <button type="button" class="btn btn-warning"><%= t('views.button.new_customer_document') %></button>
  <% end %>

  <div class="row">
    <% @documents.each do |document| %>
    <div class="document_card_list"> 
      <div class="card" style="width: 18rem;">
        <object class="card-img-top" data="<%= document.document.url %>" type="application/pdf" ></object>
        <div class="card-body">
          <h5 class="card-title"><%= document.name %></h5>
          <p class="card-text">
            <% if document.public_level == 0 %>一般公開資料
            <% elsif document.public_level == 1 %>技術資料
            <% end %>
          </p>
          <p class="card-text"><%= document.content %></p>
          <%= link_to t('views.button.show'), customer_customer_document_path(@customer, document), class: "card-link" %>
          <% if (current_user == document.user) || (current_user.name == "ゲスト") || (current_user.name == "管理者") %>
            <%= link_to t('views.button.edit'), edit_customer_customer_document_path(@customer, document), class: "card-link" %>
            <%= link_to t('views.button.destroy'), customer_customer_document_path(@customer, document), method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <%= link_to '一覧へ', customer_path(@customer.id) %>
</div>