<h1>Customer Documents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Public level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_documents.each do |customer_document| %>
      <tr>
        <td><%= customer_document.name %></td>
        <td><%= customer_document.content %></td>
        <td>
        <% if customer_document.public_level == 0 %>一般
        <% elsif customer_document.public_level == 1 %>技術
        <% end %>
        </td>
        <td><%#= link_to 'Show', customer_document %></td>
        <td><%= link_to 'Show', customer_customer_document_path(@customer, customer_document) %></td>
        <td><%#= link_to 'Edit', edit_customer_document_path(customer_document) %></td>
        <td><%= link_to 'Edit', edit_customer_customer_document_path(@customer, customer_document) %></td>
        <td><%#= link_to 'Destroy', customer_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', customer_customer_document_path(@customer, customer_document), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Customer Document', new_customer_document_path %>
<%= link_to 'New Customer Document', new_customer_customer_document_path %>