<div class="container">
  <div class="customer_document_page">
    <h2 class="page_title_en">Detail Customer Document</h2>
    <h5 class="page_title_ja"><%= t('views.title.detail_customer_document') %></h5>

    <div class="set_center_outer">
      <div class="set_center_inner">
        <p>
          <strong><%= t('views.title.document_name') %>:</strong>
          <%= @customer_document.name %>
        </p>

        <p>
          <strong><%= t('views.title.content') %>:</strong>
          <%= @customer_document.content %>
        </p>

        <p>
          <strong><%= t('views.title.public_level') %>:</strong>
          <% if @customer_document.public_level == 0 %>一般
          <% elsif @customer_document.public_level == 1 %>技術
          <% end %>
        </p>

        <p>
          <strong><%= t('views.title.document') %>:</strong>
          <% if @customer_document.document.present? %>
            <object data="<%= @customer_document.document.url %>" type="application/pdf" width="800" height="450"></object>
          <% end %>
        </p>

        <p>
          <strong><%= t('views.title.create_user') %>:</strong>
          <%= @customer_document.user.name %>
        </p>

        <% if @customer_document.public_level == 0 %>
          <%= link_to t('views.button.back_index_customer_document_public'), customer_customer_documents_path(general: "true") %>
        <% elsif @customer_document.public_level == 1 %>
          <%= link_to t('views.button.back_index_customer_document_technical'), customer_customer_documents_path(technical: "true") %>
        <% end %>

        <% if current_user == @customer_document.user %>
          |<%= link_to t('views.button.edit'), edit_customer_customer_document_path(@customer, @customer_document) %>
        <% end %>
      </div>
    </div>
  </div>
</div>