<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer_document.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @customer_document.content %>
</p>

<p>
  <strong>Public level:</strong>
  <%= @customer_document.public_level %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer_document.user %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @customer_document.customer %>
</p>

<%= link_to 'Edit', edit_customer_document_path(@customer_document) %> |
<%= link_to 'Back', customer_documents_path %>
