<p>
  <strong>Name:</strong>
  <%= @customer_document.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @customer_document.content %>
</p>

<p>
  <strong>Public level:</strong>
  <% if @customer_document.public_level == 0 %>一般
  <% elsif @customer_document.public_level == 1 %>技術
  <% end %>
</p>

<p>
  <strong>Document:</strong>
  <object data="<%= @customer_document.document.url %>" type="application/pdf" width="800" height="450"></object>
</p>

<%= link_to 'Edit', edit_customer_customer_document_path(@customer, @customer_document) %> |
<%#= link_to 'Back', customer_customer_documents_path %>

<% if @customer_document.public_level == 0 %>
  <%= link_to '一般資料一覧へ', customer_customer_documents_path(general: "true") %>
<% elsif @customer_document.public_level == 1 %>
  <%= link_to '技術資料一覧へ', customer_customer_documents_path(technical: "true") %>
<% end %>
