<div class="container">
  <div class="guide_page">
    <h2 class="page_title_en">Guide</h2>
    <h5 class="page_title_ja">操作ガイド</h5>

    <div class="signup_login_guide">
      <h4 class="area_title_ja">サインアップ・ログイン</h4>
      <h5>＜サインアップする場合＞</h5>
      <p>ヘッダー右上の「サインアップ」よりサインアップしてください</p>
      <h5>＜ゲストとしてログインする場合＞</h5>
      <p>ヘッダー右上の「ログイン」よりゲストログインしてください</p>
      <p>ゲストユーザーでログインした場合は、全ての編集、削除リンクを有効にしてあります</p>
    </div>
    <br>
    <div class="home_page_guide">
      <h4 class="area_title_ja">ホーム画面説明</h4>
      <p>ログイン後のホーム画面はこちらです。</p>

      <div class="home_page_image" id="home_page_image">
        <%= image_tag 'home_page.png', size: '1080x490', alt: 'home_page' %>
      </div>
      <br>
      <h5>＜ホーム画面でできること＞</h5>
        <ol>
          <li class="home_page_menu"><%= link_to 'プロダクトとカスタマーの一覧表示', guide_path(anchor: 'home_page_image'), class: "guide_link" %></li>
          <li class="home_page_menu"><%= link_to '登録プロジェクト画面、マイページへの遷移', guide_path(anchor: 'register_mypage_link'), class: "guide_link"  %></li>
          <li class="home_page_menu"><%= link_to 'プロダクトの新規登録、詳細画面への遷移', guide_path(anchor: 'product_new_show_link'), class: "guide_link"  %></li>
          <li class="home_page_menu"><%= link_to 'カスタマーの新規登録、詳細画面への遷移', guide_path(anchor: 'customer_new_show_link'), class: "guide_link"  %></li>
          <li class="home_page_menu"><%= link_to 'プロダクト・カスタマーの検索、並び替え', guide_path(anchor: 'search_product_customer'), class: "guide_link"  %></li>
        </ol>
      <br>
      <div class="set_center_outer">
        <div class="set_center_inner">
          <div class="guide_menu" id="register_mypage_link">
            <h6>登録プロジェクト画面、マイページへの遷移</h6>
            <%= video_tag "register_mypage_link.mov", controls: true, muted: true, size: "610x355" %>
          </div>
          <br>
        </div>
        
        <div class="set_center_inner">
          <div class="guide_menu" id="product_new_show_link">
            <h6>プロダクトの新規登録、詳細画面への遷移</h6>
            <%= video_tag "product_new_show_link.mov", controls: true, muted: true, size: "610x355" %>
          </div>
          <br>
        </div>

        <div class="set_center_inner">
          <div class="guide_menu" id="customer_new_show_link">
            <h6>カスタマーの新規登録、詳細画面への遷移</h6>
            <%= video_tag "customer_new_show_link.mov", controls: true, muted: true, size: "610x355" %>
          </div>
          <br>
        </div>

        <div class="set_center_inner">
          <div class="guide_menu" id="search_product_customer">
            <h6>プロダクト・カスタマーの検索、並び替え</h6>
            <%= video_tag "search_product_customer.mov", controls: true, muted: true, size: "610x355" %>
          </div>
          <br>
        </div>

      </div>
    </div>
    
    <br>
    <div class="product_customer_show_guide">
      <h4 class="area_title_ja">プロダクト、カスタマー詳細画面説明</h4>
      <h5>＜プロダクト詳細画面でできること＞</h5>
      <ol>
        <li class="home_page_menu"><%= link_to '進行中プロジェクトへの登録・解除', guide_path(anchor: 'home_page_image'), class: "guide_link" %></li>
        <li class="home_page_menu"><%= link_to 'プロダクトの編集・削除', guide_path(anchor: 'register_mypage_link'), class: "guide_link"  %></li>
        <li class="home_page_menu"><%= link_to '登録プロジェクトメンバーの一覧確認', guide_path(anchor: 'product_new_show_link'), class: "guide_link"  %></li>
        <li class="home_page_menu"><%= link_to 'それぞれのプロダクトが持つ資料画面への遷移', guide_path(anchor: 'customer_new_show_link'), class: "guide_link"  %></li>
        <li class="home_page_menu"><%= link_to 'それぞれのプロダクトについてのコンタクト', guide_path(anchor: 'search_product_customer'), class: "guide_link"  %></li>
      </ol>

      <h5>＜プロダクト詳細画面でできること＞</h5>
        プロダクト詳細画面でできることと重複する部分は説明を除きます。
        <ol>
          <li class="home_page_menu"><%= link_to '日程管理', guide_path(anchor: 'home_page_image'), class: "guide_link" %></li>
        <ol>
    </div>
    <br>
    <div class="document_guide">
      <h4 class="area_title_ja">資料の登録・閲覧・編集・削除</h4>
      <li class="home_page_menu"><%= link_to '進行中プロジェクトへの登録・解除', guide_path(anchor: 'home_page_image'), class: "guide_link" %></li>
    </div>

  </div>
</div>