<div class="container">
  <h2 class="page_title_en">My Page</h2>
  <h5 class="page_title_ja">マイページ</h5>
  <h3>名前</h3>
  <p><%= @user.name %></p>
  <h3>所属</h3>
  <p><%= @user.department_i18n %></p>
  <h3>メールアドレス</h3>
  <p><%= @user.email %></p>

  <%= link_to t('views.button.edit'), edit_user_registration_path %>

  <div class="created_products_customers_box">
    <div class="created_products_customers_title">
      <h4>作成したプロダクト・カスタマー</h4>
    </div>
    <% if (@products == []) || (@customers == []) %>
      <p class="not_exist_puroduct_customer">作成したプロダクト・カスタマーはありません</p>
    <% else %>
    <ul class="created_products_customers_card">
      <% @products.each do |product| %>
        <li class="created_products_customers_card_list">
          <div class="card product_title_card rounded-pill shadow-sm" style="width: 99%;">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <%= link_to t('views.button.show'), product, class: "card-link" %>
              <% if (current_user == product.user) || (current_user.name == "ゲスト") || (current_user.name == "管理者") %>
                <%= link_to t('views.button.edit'), edit_product_path(product), class: "card-link" %>
                <%= link_to t('views.button.destroy'), product, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>

      <% @customers.each do |customer| %>
      <li class="created_products_customers_card_list">
        <div class="card customer_title_card shadow-sm" style="width: 99%;">
          <div class="card-body">
            <h5 class="card-title"><%= customer.number %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= customer.name %></h6>
            <%= link_to t('views.button.show'), customer, class: "card-link" %>
            <% if (current_user == customer.user) || (current_user.name == "ゲスト") || (current_user.name == "管理者") %>
              <%= link_to t('views.button.edit'), edit_customer_path(customer), class: "card-link" %>
              <%= link_to t('views.button.destroy'), customer, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
            <% end %>
        <%#= link_to '権限移行' %>
          </div>
        </div>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>


  <div class="created_documents_box">
    <div class="created_documents_title">
      <h4>投稿したドキュメント</h4>
    </div>
    <ul class="created_documents_card">
      <% @product_documents.each do |product_document| %>
      <li class="created_document_card_list">
        <p class="created_document_card_list_name"><%= product_document.name %></p>
        <div class="created_document_card_list_content"><%= product_document.content %></div>
        <p>
        <% if product_document.public_level == 0 %>一般
        <% elsif product_document.public_level == 1 %>技術
        <% end %>
        </p>
        <!--前のdocumentが変数で後ろのdocumentがuploader-->
        <p><object data="<%= product_document.document.url %>" type="application/pdf" width="160" height="90"></object></p>
        <td><%#= link_to t('views.button.show'), product_product_document_path(@product, product_document) %></td>
        <td><%#= link_to t('views.button.edit'), edit_product_product_document_path(@product, product_document) %></td>
        <td><%#= link_to t('views.button.destroy'), product_product_document_path(@product, product_document), method: :delete, data: { confirm: t('views.messages.confirm_destroy') } %></td>

        <p><%#= link_to '権限移行' %></p>
      </li>
      <% end %>
      <% @customer_documents.each do |customer_document| %>
      <li class="created_document_card_list">
        <p class="created_document_card_list_name"><%= customer_document.name %></p>
        <div class="created_document_card_list_content"><%= customer_document.content %></div>
        <p>
        <% if customer_document.public_level == 0 %>一般
        <% elsif customer_document.public_level == 1 %>技術
        <% end %>
        </p>
        <p><object data="<%= customer_document.document.url %>" type="application/pdf" width="160" height="90"></object></p>
        <p><%= link_to '権限移行' %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>

  <p><%#= button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

  <p><%#= button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>