<%= form_with(model: [customer, schedule]) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="form">
    <li>
      <div class="field">
        <%= form.label t('views.title.serial_number') %>
        <%= form.text_field :serial_number, id: "schedule_serial_number_#{customer.id}" %>
      </div>
    </li>
    <li>
      <div class="field">
        <%= form.label :line_on %>
        <%= form.date_field :line_on, id: "schedule_line_on_#{customer.id}" %>
      </div>
    </li>
    <li>
      <div class="field">
        <%= form.label :completed_on %>
        <%= form.date_field :completed_on, id: "schedule_completed_on_#{customer.id}" %>
      </div>
    </li>
    <li>
      <div class="field">
        <%= form.label :shipmented_on %>
        <%= form.date_field :shipmented_on, id: "schedule_shipmented_on_#{customer.id}" %>
      </div>
    </li>
    <li>
      <div class="field">
        <%= form.label :deliveried_on %>
        <%= form.date_field :deliveried_on, id: "schedule_deliveried_on_#{customer.id}" %>
      </div>
    </li>
    <li>
      <div class="actions">
        <%= form.submit %>
      </div>
    </li>
<% end %>