
  <% schedules.each do |schedule| %>
    <% if schedule.id.present? %>
      <div class="container">
        <div class="row">
          <div class="schedule-content" id ="this_schedule_<%= schedule.id %>"></div>
          <div class="col-2">
            <%= schedule.serial_number %>
          </div>
          <div class="col-2">
            <%= l schedule.line_on, format: :long %>
          </div>
          <div class="col-2">
            <%= l schedule.completed_on, format: :long %>
          </div>
          <div class="col-2">
            <%= l schedule.shipmented_on, format: :long %>
          </div>
          <div class="col-2">
            <%= l schedule.deliveried_on, format: :long %>
          </div>
          <% if (current_user.department == 'planning') || (current_user.name == 'ゲスト') %>
            <div class="col-1">
            <%= link_to "編集", edit_customer_schedule_path(customer, schedule), remote: true %>
            </div>
            <div class="col-1">
            <%= link_to "削除", customer_schedule_path(schedule.customer_id, schedule.id), method: :delete, remote: true,
                                data: { confirm: "本当に削除しますか?"} %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
