<%= form_with(model: customer, local: true) do |form| %>

  <div class="set_center_outer">
    <div class="set_center_inner">
      <% if customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= customer.errors.count %> 件のエラーが発生しました</h2>
          <ul>
          <% customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="set_center_outer">
    <div class="set_center_inner">
      <div class="field">
        <%= form.label t('views.title.customer_number') %>
        <%= form.text_field :number, size: "35x1", placeholder: '123-456' %>
      </div>

      <div class="field">
        <%= form.label t('views.title.customer_name') %>
        <%= form.text_field :name, size: "35x1", placeholder: 'お客様名' %>
      </div>

      <div class="field">
        <%= form.label t('views.title.customer_address') %>
        <%= form.text_field :address, size: "35x2", placeholder: '東京都渋谷区道玄坂1丁目1番地' %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

<% end %>
