<div class="container">
  <div class="customer_page">
    <h2 class="page_title_en">Show Customer</h2>
    <h5 class="page_title_ja"><%= t('views.title.customer_show') %></h5>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="product_name_title">
            <h5><%= @customer.number %></h5>
            <h5><%= @customer.name %></h5>

          <% if @user_customer.present? %>
            <%= link_to user_customer_path(id: @user_customer.id), method: :delete do %>
            <div class="project_cancel">
              <div class="project_cancel_icon">
                <i class="fas fa-star fa-lg"></i>
              </div>
            <% end %>
              <div class="project_cancel_text">
                プロジェクトから解除する
              </div>
            </div>
          <% else %>
            <%= link_to user_customers_path(customer_id: @customer.id), method: :post do %>
            <div class="project_registration">
              <div class="project_registration_icon">
                <i class="far fa-star fa-lg"></i>
              </div>
            <% end %>
              <div class="project_registration_text">
                プロジェクトに登録する
              </div>
            </div>
          <% end %>
        </div>

        <div class="product_editer">
          <p class="editer">作成者：<%= @customer.user.name %></p>
          <% if (current_user == @customer.user) || (current_user.name == "ゲスト") || (current_user.name == "ゲスト管理者") %>
            <div class="message_edit_delete">
              <%= link_to edit_customer_path(@customer) do %>
              <span class="edit_icon_gray">
                <i class="far fa-edit"></i>
              </span>
              <% end %>
              <%= link_to customer_path(@customer), method: :delete, data: { confirm: t('views.messages.confirm_destroy') } do %>
              <span class="delete_icon_gray">
                <i class="far fa-trash-alt"></i>
              </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 document_link_area">
        <h4 class="area_title_ja">ドキュメント</h4>
        <div class="position-absolute" style="top:40px; left:20px;">
          <%= link_to customer_customer_documents_path(@customer.id, general: "true") do %>
          <button type="button" class="btn btn-info general_document_button btn-lg">一般資料</button>
          <% end %>
        </div>
        <% if current_user.department == "engineering" %>
          <div class="position-absolute" style="top:40px; left:180px;">
            <%= link_to customer_customer_documents_path(@customer.id, technical: "true") do %>
            <button type="button" class="btn btn-info technical_document_button btn-lg">技術資料</button>
            <% end %>
          </div>
        <% else %>
        <div class="technical_document_button_disable">
          <div class="position-absolute" style="top:40px; left:180px;">
            <button type="button" class="btn btn-info technical_document_button btn-lg" disabled>技術資料</button>
          </div>
          <div class="box">
            <p class="text">このリンクは「技術部」所属者のみ有効です</p>
          </div>
        </div>
        <% end %>
      </div>

    </div>

    <h4 class="area_title_ja">スケジュール</h4>
    <p>スケジュールの登録・編集は「計画部」所属者のみ可能です。</p>
    <p id="notice_schedule"><%= notice %></p>

    <div class="schedule_area">

      <div id="errror_explanation"></div>

      <div class="schedule_form">
        <%= render partial: 'schedules/form', locals: { schedule: @schedule, customer: @customer } %>
      </div>
      <div id="schedules_area">
        <%= render partial: 'schedules/index', locals: { schedules: @schedules, customer: @customer } %>
      </div>
      <div class="pagination">
        <%= paginate @schedules %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="list-group">
          <li class="list-group-item active">プロジェクトメンバー</li>
          <% @user_customers.each do |user_customer| %>
            <li class="list-group-item">
              <div class="row">
                <span class="col-7"><%= user_customer.user.name %></span>
                <span class="col-5"><%= user_customer.user.department_i18n %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-lg-9 col-md-8">
        <h4 class="area_title_ja">コンタクト</h4>
        <p id="notice"><%= notice %></p>
        <div id="customer_contacts_area">
          <%= render partial: 'customer_contacts/index', locals: { customer_contacts: @customer_contacts, customer:@customer } %>
        </div>

        <script>
          $("#customer_scroll-inner").scrollTop($("#customer_scroll-inner")[0].scrollHeight);
        </script>

        <div class="new_product_contact">
          <%= render partial: 'customer_contacts/form', locals: { customer_contact: @customer_contact, customer:@customer } %>
        </div>
      </div>
    </div>



    <h4 class="area_title_ja">カスタマー情報詳細</h4>
    <h5 class="area_title_ja">所在地</h5>
    <p><%= @customer.address %></p>

    <% if @customer.address.present? %>
      <div id='map'></div>
    <% else %>
      <p>所在地登録はありません。登録がある場合こちらに地図を表示します。</p>
    <% end %>

    <script type="text/javascript">
      function initMap() {

        var test ={lat: <%= @customer.latitude %>, lng: <%= @customer.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '所在地：<%= @customer.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
      }
    </script>

    <script async defer 
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>


    <%= link_to t('views.button.back_home'), homes_path, class: "hover_background_none" %>
  </div>
</div>