
<p>
  <strong>Customer number:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.name %>
</p>

<% if @user_customer.present? %>
  <%= link_to user_customer_path(id: @user_customer.id), method: :delete do %>
    <i class="fas fa-star"></i>
  <% end %>
  <p>プロジェクトから解除する</p>
<% else %>
  <%= link_to user_customers_path(customer_id: @customer.id), method: :post do %>
    <i class="far fa-star fa-5x"></i>
  <% end %>
  <p>プロジェクトに登録する</p>
<% end %>


<p>コンタクト</p>
<div id="customer_contacts_area">
  <%= render partial: 'customer_contacts/index', locals: { customer_contacts: @customer_contacts, customer:@customer } %>
</div>
<%= render partial: 'customer_contacts/form', locals: { customer_contact: @customer_contact, customer:@customer } %>


<%= link_to t('views.button.edit'), edit_customer_path(@customer) %> |
<%= link_to t('views.button.back_home'), homes_path %>
