<div class="container">
  <div class="customer_page">
    <h2 class="page_title_en">Show Customer</h2>
    <h5 class="page_title_ja"><%= t('views.title.customer_show') %></h5>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="product_name_title">
            <h5><%= @customer.number %></h5>
            <h5><%= @customer.name %></h5>

          <% if @user_customer.present? %>
            <%= link_to user_customer_path(id: @user_customer.id), method: :delete do %>
            <div class="project_cancel">
              <div class="project_cancel_icon">
                <i class="fas fa-star fa-lg"></i>
              </div>
            <% end %>
              <div class="project_cancel_text">
                プロジェクトから解除する
              </div>
            </div>
          <% else %>
            <%= link_to user_customers_path(customer_id: @customer.id), method: :post do %>
            <div class="project_registration">
              <div class="project_registration_icon">
                <i class="far fa-star fa-lg"></i>
              </div>
            <% end %>
              <div class="project_registration_text">
                プロジェクトに登録する
              </div>
            </div>
          <% end %>
        </div>

        <div class="product_editer">
          <p class="editer">作成者：<%= @customer.user.name %></p>
          <% if (current_user == @customer.user) || (current_user.name == "ゲスト") || (current_user.name == "ゲスト管理者") %>
            <div class="message_edit_delete">
              <%= link_to edit_customer_path(@customer) do %>
              <span class="edit_icon_gray">
                <i class="far fa-edit"></i>
              </span>
              <% end %>
              <%= link_to customer_path(@customer), method: :delete, data: { confirm: t('views.messages.confirm_destroy') } do %>
              <span class="delete_icon_gray">
                <i class="far fa-trash-alt"></i>
              </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 document_link_area">
        <h4 class="area_title_ja">ドキュメント</h4>
        <div class="position-absolute" style="top:40px; left:20px;">
          <%= link_to customer_customer_documents_path(@customer.id, general: "true") do %>
          <button type="button" class="btn btn-info general_document_button btn-lg">一般資料</button>
          <% end %>
        </div>
        <% if current_user.department == "engineering" %>
          <div class="position-absolute" style="top:40px; left:180px;">
            <%= link_to customer_customer_documents_path(@customer.id, technical: "true") do %>
            <button type="button" class="btn btn-info technical_document_button btn-lg">技術資料</button>
            <% end %>
          </div>
        <% else %>
        <div class="technical_document_button_disable">
          <div class="position-absolute" style="top:40px; left:180px;">
            <button type="button" class="btn btn-info technical_document_button btn-lg" disabled>技術資料</button>
          </div>
          <div class="box">
            <p class="text">このリンクは「技術部」所属者のみ有効です</p>
          </div>
        </div>
        <% end %>
      </div>

    </div>

    <h4 class="area_title_ja">スケジュール</h4>
    <p>スケジュールの登録・編集は「計画部」所属者のみ可能です。</p>
    <p id="notice_schedule"><%= notice %></p>

    <div class="schedule_area">

      <div id="errror_explanation"></div>

      <div class="schedule_form">
        <%= render partial: 'schedules/form', locals: { schedule: @schedule, customer: @customer } %>
      </div>
      <div id="schedules_area">
        <%= render partial: 'schedules/index', locals: { schedules: @schedules, customer: @customer } %>
      </div>
      <div class="pagination">
        <%= paginate @schedules %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="list-group">
          <li class="list-group-item active">プロジェクトメンバー</li>
          <% @user_customers.each do |user_customer| %>
            <li class="list-group-item">
              <div class="row">
                <span class="col-7"><%= user_customer.user.name %></span>
                <span class="col-5"><%= user_customer.user.department_i18n %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-lg-9 col-md-8">
        <h4 class="area_title_ja">コンタクト</h4>
        <p id="notice"><%= notice %></p>
        <div id="customer_contacts_area">
          <%= render partial: 'customer_contacts/index', locals: { customer_contacts: @customer_contacts, customer:@customer } %>
        </div>
        <div class="new_product_contact">
          <%= render partial: 'customer_contacts/form', locals: { customer_contact: @customer_contact, customer:@customer } %>
        </div>
      </div>
    </div>


<script>
  $("#customer_scroll-inner").scrollTop($("#customer_scroll-inner")[0].scrollHeight);
</script>



  <h4 class="area_title_ja">カスタマー情報詳細</h4>
  <h5 class="area_title_ja">所在地</h5>
  <p><%= @customer.address %></p>

  <!-- 地名入力用のinputを追加 -->
  <input id="address" type="textbox" value="Tokyo, JPN" size="50x1">

  <!-- buttonをクリックしたらcodeAddressを実行 -->
  <input type="button" value="検索" onclick="codeAddress()">
  <div id='map'></div>

  <style>
  #map{
    height: 400px;
  }
  </style>

  <script>
  /*
  mapを関数の外で定義(codeAddressでも使うため)
  geocoderを用意
  */

  let map
  let geocoder

  function initMap(){
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.689, lng: 139.691},
    zoom: 8
    });

    //情報ウィンドウのインスタンスの生成
    var infoWindow = new google.maps.InfoWindow; 
    
    //ブラウザが Geolocation に対応しているかを判定
    //対応していない場合の処理
    if(!navigator.geolocation){ 
      //情報ウィンドウの位置をマップの中心位置に指定
      infoWindow.setPosition(map.getCenter());
      //情報ウィンドウのコンテンツを設定
      infoWindow.setContent('Geolocation に対応していません。');
      //情報ウィンドウを表示
      infoWindow.open(map);
    }
    
    //ブラウザが対応している場合、position にユーザーの位置情報が入る
    navigator.geolocation.getCurrentPosition(function(position) { 
      //position から緯度経度（ユーザーの位置）のオブジェクトを作成し変数に代入
      var pos = {  
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      //情報ウィンドウに現在位置を指定
      infoWindow.setPosition(pos);
      //情報ウィンドウのコンテンツを設定
      infoWindow.setContent('現在位置を取得しました。');
      //情報ウィンドウを表示
      infoWindow.open(map);
      //マップの中心位置を指定
      map.setCenter(pos);
    
    }, function() {  //位置情報の取得をユーザーがブロックした場合のコールバック
      //情報ウィンドウの位置をマップの中心位置に指定
      infoWindow.setPosition(map.getCenter());
      //情報ウィンドウのコンテンツを設定
      infoWindow.setContent('現在位置情報の設定が無効です。');
      //情報ウィンドウを表示
      infoWindow.open(map);
    });

  }

  function codeAddress(){
    // 入力を取得
    let inputAddress = document.getElementById('address').value;

    // geocodingしたあとmapを移動
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
    // map.setCenterで地図が移動
        map.setCenter(results[0].geometry.location);

    // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

    <%= link_to t('views.button.back_home'), homes_path, class: "hover_background_none" %>
  </div>
</div>