<div class="container">
  <div class="row">
    <div class="col-6">
      
      <h2>Product name</h2>

      <h3>プロダクト検索</h3>
      <%= form_with url: homes_path, method: :get, local: true do |s| %>
        <%= s.text_field :search %>
        <%= s.submit '検索', name: nil %>
      <% end %>


      <%= link_to t('views.button.new_product'), new_product_path %>
      <div class="row">
        <% @products.each do |product| %>
          <div class="card col-lg-4 col-md-6" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <%= link_to t('views.button.show'), product, class: "card-link" %>
              <%= link_to t('views.button.edit'), edit_product_path(product), class: "card-link" %>
              <%= link_to t('views.button.destroy'), product, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div class="col-6">
      <h2>Customer name</h2>

      <h3>カスタマー検索</h3>
      <%= search_form_for @q, url: homes_path do |f| %>
        <%= f.label :number_cont, 'プロダクトNo.' %>
        <%= f.search_field :number_cont %>
        <%= f.label :name_cont, 'プロダクト名' %>
        <%= f.search_field :name_cont %>
        <br>
        <%= f.submit '検索' %>
        <br>
        <%= sort_link(@q, :number, "Noソート") %>
      <% end %>

      <%= link_to 'New Customer', new_customer_path %>


      <div class="row">
        <% @customers.each do |customer| %>
          <div class="card col-lg-4 col-md-6" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title"><%= customer.number %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= customer.name %></h6>
              <%= link_to t('views.button.show'), customer, class: "card-link" %>
              <%= link_to t('views.button.edit'), edit_customer_path(customer), class: "card-link" %>
              <%= link_to t('views.button.destroy'), customer, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
            </div>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
