

<h1>Products</h1>
<p>productsのindexをコピー</p>


<p>Product name</p>

<%= link_to t('views.button.new_product'), new_product_path %>

<% @products.each do |product| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <%= link_to t('views.button.show'), product, class: "card-link" %>
      <%= link_to t('views.button.edit'), edit_product_path(product), class: "card-link" %>
      <%= link_to t('views.button.destroy'), product, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
    </div>
  </div>
<% end %>



<br>



<br>


<h1>Customers</h1>
<p>customersのindexをコピー</p>

<table>
  <thead>
    <tr>
      <th>Customer number</th>
      <th>Customer name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.number %></td>
        <td><%= customer.name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>


