<div class="container">
  <div class="home_page">
    <h2 class="page_title_en">Home</h2>
    <h5 class="page_title_ja">製品・お客様一覧</h5>
    <div class="row">
      <div class="col-6">
        <h2 class="page_title_en">Products</h2>
        <h5 class="page_title_ja">製品</h5>

        <%= form_with url: homes_path, method: :get, local: true do |s| %>
          <%#= s.label :name, 'プロダクト名' %>
          <%#= s.text_field :search, placeholder: 'プロダクト名で検索' %>
          <%= s.text_field :search, placeholder: 'プロダクト名で検索', value: params[:search] %>
          <%= s.submit '検索', name: nil %>
        <% end %>
        <hr>

        <div class="button_new">
          <%= link_to new_product_path do %>
          <button type="button" class="btn btn-warning"><%= t('views.button.new_product') %></button>
          <% end %>
        </div>

        <div class="row">
          <% @products.each do |product| %>
            <div class="col-lg-4 col-md-6 p-1"> 
              <%= link_to product do %>
              <div class="card product_title_card rounded-pill" style="width: 99%;">
                <div class="card-body">
                  <%#= link_to t('views.button.show'), product, class: "card-link" %>
                  <% if (current_user == product.user) || (current_user.name == "ゲスト") || (current_user.name == "ゲスト管理者") %>
                  <div class="title_edit_icon"><i class="fas fa-cog fa-spin" style="color: SeaGreen;"></i></div>
                  <%#= link_to t('views.button.edit'), edit_product_path(product), class: "card-link" %>
                  <%#= link_to t('views.button.destroy'), product, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
                  <% end %>
                  <h5 class="card-title"><%= product.name %></h5>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-6">
        <h2 class="page_title_en">Customers</h2>
        <h5 class="page_title_ja">お客様</h5>

        <%= search_form_for @q, url: homes_path do |f| %>
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <%#= f.label :number_cont, 'カスタマーNo.' %>
              <%= f.search_field :number_cont, placeholder: 'カスタマーNoで検索' %>
            </div>
            <div class="col-lg-4 col-md-5">
              <%#= f.label :name_cont, 'カスタマー名' %>
              <%= f.search_field :name_cont, placeholder: 'カスタマー名で検索' %>
            </div>
            <div class="col-lg-4 col-md-2 d-flex align-items-end text-left" id="customer_search_button">
              <%= f.submit '検索' %>
            </div>
            <div class="customer_no_sort">
              <h6>並び替え:<%= sort_link(@q, :number, "カスタマーNo順で表示", {default_order: :asc} ) %></h6>
            </div>
          </div>
        <% end %>
        <hr>

        <div class="button_new">
          <%= link_to new_customer_path do %>
          <button type="button" class="btn btn-warning"><%= t('views.button.new_customer') %></button>
          <% end %>
        </div>

        <div class="row">
          <% @customers.each do |customer| %>
            <div class="col-lg-4 col-md-6 p-1"> 
              <%= link_to customer do %>
                <div class="card product_title_card" style="width: 99%;">
                  <div class="card-body">
                    <% if (current_user == customer.user) || (current_user.name == "ゲスト") || (current_user.name == "ゲスト管理者") %>
                      <div class="title_edit_icon"><i class="fas fa-cog fa-spin" style="color: green;"></i></div>
                      <%#= link_to t('views.button.edit'), edit_customer_path(customer), class: "card-link" %>
                      <%#= link_to t('views.button.destroy'), customer, method: :delete, data: { confirm: t('views.messages.confirm_destroy') }, class: "card-link" %>
                    <% end %>
                    <h5 class="card-title">No.<%= customer.number %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= customer.name %></h6>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg_onetime_popup">
  <div class="onetime_popup">
    <div class="onetime_popup_content">
      <%= image_tag 'smile_popup.png', size: '640x396', alt: 'problem' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.addEventListener('load', function() {
    if( !sessionStorage.getItem('disp_popup') ) {
      sessionStorage.setItem('disp_popup', 'on');
      var popup = document.getElementsByClassName('bg_onetime_popup');
      popup[0].classList.add('js_active');
      popup[0].onclick = function() {
        popup[0].classList.remove('js_active');
      }
    }
  }, false);
</script>