<div class="container">
  <div class="login_page">
    <h3><%= t('.sign_in') %></h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form_field">
      <div class="field">
        <%= f.label t(".email") %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'maker@awesome.com' %>
      </div>

      <div class="field">
        <%= f.label t(".password") %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password' %>
      </div>
    </div>
    <!--
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    -->
      <div class="actions">
          <%= f.submit t('.sign_in'), class: "login_submit_button" %>
      </div>
    <% end %>
    <br>
    <br />
    <h5><%= t('.unregistered') %></h5>
    <div class="login_checkout_button">
      <%= link_to t(".sign_up"), new_user_registration_path %>
    </div>

    <br>
    <br>
    <h4><%= t('.guest_sign_in') %></h4>
    <div class="guest_area">
        
      <div class="guest_button">
        <%= link_to users_guest_sign_in_path, method: :post do %>
          <button type="button" class="btn btn-success guest_login_button"><%= t('.public_user') %></button>
        <% end %>
      </div>

      <div class="guest_button">
        <%= link_to users_admin_guest_sign_in_path, method: :post do %>
          <button type="button" class="btn btn-success guest_login_button"><%= t('.admin') %></button>
        <% end %>
      </div>

    </div>
  </div>
</div>