<ul>
  <% customer_contacts.each do |customer_contact| %>
    <% if customer_contact.id.present? %>
      <li>
        <div class="customer_contact_message" id ="this_customer_contact_<%= customer_contact.id %>"></div>
        <p>
          <strong><%= customer_contact.user.name %></strong>
          <%= l customer_contact.created_at %>
        </p>
        <p><%= customer_contact.contact_message %></p>
        <p>
        <%= link_to "編集", edit_customer_customer_contact_path(customer, customer_contact), remote: true %>
        <%= link_to "削除", customer_customer_contact_path(customer_contact.customer_id, customer_contact.id), method: :delete, remote: true,
                            data: { confirm: "本当に削除しますか?"} %>
        </p>
        <hr>
      </li>
    <% end %>
  <% end %>
</ul>