<%= form_with(model:[@product,@product_document], local: true) do |form| %>
  <% if product_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_document.errors.count, "error") %> prohibited this product_document from being saved:</h2>

      <ul>
      <% product_document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :public_level %>
    <%= form.number_field :public_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
