<%#= form_with(model: product_document, local: true) do |form| %>
<%= form_with(model: [product, product_document], local: true) do |form| %>
  <% if product_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_document.errors.count, "error") %> prohibited this product_document from being saved:</h2>

      <ul>
      <% product_document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('views.title.document_name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('views.title.content') %>
    <%= form.text_area :content, size: "50x5" %>
  </div>

  <div class="field">
    <%= form.label t('views.title.public_level') %>
    <%= form.radio_button :public_level, 0 %>一般<%= form.radio_button :public_level, 1 %>技術
  </div>

  <div class="field">
    <%= form.label t('views.title.document') %>
    <%= form.file_field :document %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
