<p>
  <strong>Name:</strong>
  <%= @product_document.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @product_document.content %>
</p>

<p>
  <strong>Public level:</strong>
  <%#= @product_document.public_level %>
  <% if @product_document.public_level == 0 %>一般
  <% elsif @product_document.public_level == 1 %>技術
  <% end %>
</p>

<p>
  <strong>Document:</strong>
  <%#= @feed.image.url %>
  <object data="<%= @product_document.document.url %>" type="application/pdf" width="800" height="450"></object>
</p>

<%#= link_to 'Edit', edit_product_document_path(@product_document) %> 
<%#= link_to 'Edit', edit_product_product_document_path(@product_document, @product) %> 
<%= link_to 'Edit', edit_product_product_document_path(@product, @product_document) %> |
<%#= link_to 'Back', product_documents_path %>
<%#= link_to 'Back', product_product_documents_path(general: "true") %>
<%#= link_to '戻る', :back %>
<% if @product_document.public_level == 0 %>
<%= link_to '一般資料一覧へ', product_product_documents_path(general: "true") %>
<% elsif @product_document.public_level == 1 %>
<%= link_to '技術資料一覧へ', product_product_documents_path(technical: "true") %>
<% end %>