<div class="container">
  <h2 class="page_title_en">Detail Product</h2>
  <h5 class="page_title_ja"><%= t('views.title.product_show') %></h5>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="product_name_title">
        <%= @product.name %>
        
        <br>

        <% if @user_product.present? %>
          <%= link_to user_product_path(id: @user_product.id), method: :delete do %>
            <i class="fas fa-star product_project_cancel">プロジェクトから解除する</i>
          <% end %>
        <% else %>
          <%= link_to user_products_path(product_id: @product.id), method: :post do %>
            <i class="far fa-star product_project_registration">プロジェクトに登録する</i>
          <% end %>
        <% end %>

      </div>

      <br>
      <div class="product_editer">
        <p class="editer">作成者：<%= @product.user.name %></p>
        <p class="edit_link"><%= link_to t('views.button.edit'), edit_product_path(@product) if current_user == @product.user %></p>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="position-absolute" style="top:20px; left:30px;">
        <%= link_to product_product_documents_path(@product.id, general: "true") do %>
        <button type="button" class="btn btn-info general_document_button btn-lg">一般資料</button>
        <% end %>
      </div>
      <% if (current_user.department == 2) || (current_user.name == 'ゲスト') %>
        <div class="position-absolute" style="top:20px; left:180px;">
          <%= link_to product_product_documents_path(@product.id, technical: "true") do %>
          <button type="button" class="btn btn-info technical_document_button btn-lg">技術資料</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4">
      <ul class="list-group">
        <li class="list-group-item active">プロジェクトメンバー</li>
        <% @user_products.each do |user_product| %>
          <li class="list-group-item">
            <div class="row">
              <span class="col-7"><%= user_product.user.name %></span>
              <span class="col-5"><%= user_product.user.department_i18n %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-lg-9 col-md-8">
      <h3>コンタクト</h3>
      <div id="product_contacts_area" class="box">
        <%= render partial: 'product_contacts/index', locals: { product_contacts: @product_contacts, product:@product } %>
      </div>
      <%= render partial: 'product_contacts/form', locals: { product_contact: @product_contact, product:@product } %>
    </div>
  </div>

  <%= link_to t('views.button.back_home'), homes_path %>
</div>