

<p>
  <strong>Product name:</strong>
  <%= @product.name %>
</p>

<% if @user_product.present? %>
  <%= link_to 'プロジェクトから解除する', user_product_path(id: @user_product.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'プロジェクトに登録する', user_products_path(product_id: @product.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<%= link_to t('views.button.edit'), edit_product_path(@product) %> |
<%= link_to t('views.button.back_home'), homes_path %>
