
<p>
  <strong>Product name:</strong>
  <%= @product.name %>
</p>

<p>作成者</p>
<%= @product.user.name %>

<br>
<br>

<% if @user_product.present? %>
  <%= link_to 'プロジェクトから解除する', user_product_path(id: @user_product.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'プロジェクトに登録する', user_products_path(product_id: @product.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<br>
<br>

<h3>プロジェクトメンバー</h3>
<% @user_products.each do |user_product| %>
  <p><%= user_product.user.name %></p>
<% end %>


<h3>コンタクト</h3>
<hr>
<div id="product_contacts_area">
  <%= render partial: 'product_contacts/index', locals: { product_contacts: @product_contacts, product:@product } %>
</div>
<%= render partial: 'product_contacts/form', locals: { product_contact: @product_contact, product:@product } %>


<%= link_to t('views.button.edit'), edit_product_path(@product) %> |
<%= link_to t('views.button.back_home'), homes_path %>
